.MY{
	font-family: 'Dancing Script', cursive;
font-family: 'Permanent Marker', cursive;
 color:white;
}
.MYF{
	font-family: 'Dancing Script', cursive;
}
.font-size-20{
	font-size: 20px;
}
.mmmr{
	margin-bottom:70px;
}